.button-icon,
.button-name {
    font-size: 16px;
}

button {
    height: 42px;
    padding: 6px 16px;
    border-radius: 10px;
    font-size: var(--size-text-normal);
    border: solid 2px var(--theme-color-gray);
    margin-bottom: 16px;
}

button.primary {
    background-color: var(--theme-color-gray);
}