form {
    padding: 16px;
    border-radius: 16px;
    border: solid 2px var(--theme-color-gray);
}

label {
    font-style: italic;
    padding-left: 6px;
    margin-bottom: 3px;
    display: block;
}

input,
select {
    height: 42px;
    width: 100%;

    padding: 6px 10px;
    border-radius: 10px;
    font-size: var(--size-text-normal);
    border: solid 2px var(--theme-color-gray);
    margin-bottom: 16px;
}

form h1,
h2,
h3 {
    margin-bottom: 6px;
}

form .flex-row-container>input,
select {
    flex: 0 1 calc(50% - 5px);
}

form>.group-button>button {
    margin-bottom: 0;
}