h1 {
    color: var(--theme-color-1);
    font-size: var(--size-text-h1);
    font-weight: bold;
}

h2 {
    color: var(--theme-color-1);
    font-size: var(--size-text-h2);
    font-weight: 600;
}

h3 {
    color: var(--theme-color-1);
    font-size: var(--size-text-h3);
    font-weight: 500;
}

p,
div,
.text-normal {
    color: var(--theme-color-black);
    font-size: var(--size-text-normal);
}

.text-small {
    color: var(--theme-color-gray);
    font-size: var(--size-text-small);
}

a {
    text-decoration: none;
    text-align: left;
}